﻿<div ng-init="init()">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/customers">Customers</a></li>
        <li><a href="#/customers/{{customerId}}">{{customerId}}</a></li>
        <li class="active">Orders</li>
    </ol>

    <h2><i class="fa fa-user"></i> Orders for Customer {{customerId}}</h2>

</div>