﻿<div ng-init="init()">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/customers">Customers</a></li>
        <li class="active">{{customerId}}</li>
    </ol>

    <h2><i class="fa fa-user"></i> Customer {{customerId}}</h2>

</div>