﻿<div ng-init="init()">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="active">Customers</li>
    </ol>

    <h2><i class="fa fa-users"></i> Customers for {{$storage.currentUsername}}</h2>

    <input type="text" ng-model="query" placeholder="Filter" autofocus />

    <ul ui-sortable="sortableOptions" ng-model="customers" class="list-unstyled">
        <li ng-repeat="customer in $storage.customers | filter:query"><i class="fa fa-user"></i> {{customer.CustomerName}}</li>
    </ul>

    <form class="form">
        <label for="cacheStatus">Cache Status</label>
        <select class="form-control input-sm" name="cacheStatus" ng-model="$storage.appCacheStatus" ng-change="init()">
            <option value="1">Enabled</option>
            <option value="0">Disabled</option>
        </select>
    </form>

    <em>{{$storage.helloWorldText}}</em>

</div>