﻿<div ng-init="init()">
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i></li>
    </ol>

    <h2><i class="fa fa-home"></i> Home</h2>

    <p>{{helloWorld}}</p>

</div>