﻿<div>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li class="active">Test</li>
    </ol>

    <h2><i class="fa fa-home"></i> Test</h2>

    <p>{{helloWorld}}</p>

    

</div>